<div class="mt-2 row">
    <div class="col-sm-7">
        <p class="fs-6">Displaying <span data-test-id="firstitem">@PageInfo.FirstItem</span> through <span data-test-id="lastitem">@(PageInfo.FirstItem + PageInfo.NumItems - 1)</span> of <span data-test-id="totalitems">@PageInfo.TotalItems</span>.</p>
    </div>
    <nav class="col-sm-5" aria-label="Pagination control">
        <ul class="pagination justify-content-end">
            @if (PageInfo.Page > 2 && PageInfo.TotalPages > 3)
            {
                <PageLink Page="1" Click=UpdatePage>&laquo;</PageLink>
            }
            @if (PageInfo.Page == PageInfo.TotalPages && PageInfo.TotalPages > 2)
            {
                <PageLink Page="@(PageInfo.Page - 2)" Click=UpdatePage/>
            }
            @if (PageInfo.Page > 1)
            {
                <PageLink Page="@(PageInfo.Page - 1)" Click=UpdatePage/>
            }
            <li class="page-item active" aria-current="page">
                <span class="page-link">@PageInfo.Page</span>
            </li>
            @if (PageInfo.Page < PageInfo.TotalPages)
            {
                <PageLink Page="@(PageInfo.Page + 1)" Click=UpdatePage/>
            }
            @if (PageInfo.Page == 1 && PageInfo.TotalPages > 2)
            {
                <PageLink Page="@(PageInfo.Page + 2)" Click=UpdatePage/>
            }
            @if (PageInfo.Page + 1 < PageInfo.TotalPages && PageInfo.TotalPages > 3)
            {
                <PageLink Page="@PageInfo.TotalPages" Click=UpdatePage>&raquo;</PageLink>
            }
        </ul>
    </nav>
</div>

@code {
    [Parameter]
    public YoFi.WireApi.Client.IWirePageInfo PageInfo { get; set; }

    [Parameter]
    public YoFi.WireApi.Client.IWireQueryParameters Parameters { get; set; }

    [Parameter]
    public EventCallback<int> PageUpdated { get; set; }

    private async void UpdatePage(int page)
    {
        await PageUpdated.InvokeAsync(page);
    }
}
